<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<appSettings>
		<!--  是否采用加密的数据库密码  如果false 则可以在 pwd=admin 直接填写密码 否则 请填写 pwd={0}-->
		<add key="Q_ConStringEncrypt" value="false" />
		<!-- 如果 TS_ConStringEncrypt =true  这获取 TS_Password 设置的加密数据库密码-->
		<add key="Q_Password" value="9fc7a5a84a446a21" />
		<add key="Q_ConnectionString" value="Data Source=SKY-20151022LYV\SQL2008R2;Initial Catalog = N25175_Repair ;User ID=sa;Password=25175;" />
		<add key="aspnet:MaxHttpCollectionKeys" value="100000" />
	</appSettings>
	
	<system.web>
		<sessionState mode="InProc"   timeout="180"/>
		<pages validateRequest="false" enableEventValidation="false"></pages>
		<httpRuntime requestValidationMode="2.0" executionTimeout="800" maxRequestLength="4096000" useFullyQualifiedRedirectUrl="false" />
		<compilation debug="true" targetFramework="4.0"></compilation>
	</system.web>
</configuration>
