
body
{
	background-color: #fefefe;
	/*font-family:"宋体", "微软雅黑","Helvetica Neue", Helvetica, Arial, sans-serif; */
	font-family:"微软雅黑","Helvetica Neue", Helvetica, Arial, sans-serif; 
}
fieldset{
    border:1px solid lightGrey;
        padding-top:10px;
    padding-bottom:10px;
    font-size:14px;
}
td
{
	font-size:14px;
}
legend{
    color:#000
}
.rtitle
{
    border-bottom: 4px #eee solid;
    background-color: #F2F2F2; 
    background: linear-gradient(to bottom,#ffffff 0,#F2F2F2 100%);
    height: 45px;
    padding-top: 0px;
}

a {color: #015ba7; text-decoration:none;}
a:link {color: #015ba7;}		/* 未访问的链接 */
a:visited {color: #015ba7;}	/* 已访问的链接 */
a:hover {color: #015ba7;text-decoration:underline}	/* 鼠标移动到链接上 */
a:active {color: #015ba7;}	/* 选定的链接 */



.datagrid-row-selected a
{
    color: #ffffff;
    text-decoration: none;
}

.tree-node-selected a
{
    color: #ffffff;
    text-decoration: none;
}
.rd
{
    color:Red;
}
/* 
.dialogBody
{
    background: #f4f4f4;
    font-size: 12px;
    color: #666;
}
.dialog_title {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;
    background-color: #fff;
}

.dialog_about {
margin: 15px;

}
*/

.window_loading
{
	font-family:微软雅黑,verdana,Arial,Helvetica,sans-serif;
	background:url("loading.gif") no-repeat scroll 5px 50% #FFA53A;
	border:1px solid #4A6B84;
	color:#FFFFFF;
	display:block;
	font-size:12px;
	font-weight:bold;
	line-height:29px;
	margin:0;
	padding:0 20px 0 30px;
	text-align:center;
} .autocomplete-suggestions
        {
            font-size: 16px;
            border: 1px solid #999;
            background: #FFF;
            cursor: default;
            overflow: auto;
            -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
            -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
            box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
        }
        .autocomplete-suggestion
        {
            padding: 5px 10px;
            white-space: nowrap;
        
        }
        .autocomplete-no-suggestion
        {
            padding: 5px 10px;
        }
        .autocomplete-selected
        {
            background: #F0F0F0;
        }
        .autocomplete-suggestions strong
        {
            font-weight: normal;
            color: #3399FF;
        }
        .bottom
        {
            bottom: 0px;
            display: block;
            font-family: 微软雅黑;
            font-size: 14px;
            height: 51px;
            left: 0px;
            right: 0px;
            line-height: 20px;
            margin-bottom: 0px;
            min-height: 50px;
            position: fixed;
            z-index: 1030;
            background-color: #f5f5f5;
            border: 1px solid #e3e3e3;
            padding: 10px;
        }
        