BODY {
	FONT-SIZE: 12px; MARGIN: auto; FONT-FAMILY: "Lucida Grande", "Verdana", "Lucida", "Arial", "Helvetica", "宋体","sans-serif"; TEXT-ALIGN: center
}
IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
TD {
	FONT-SIZE: 12px; FONT-FAMILY: "Lucida Grande", "Verdana", "Lucida", "Arial", "Helvetica", "宋体","sans-serif"
}
.clear {
	LINE-HEIGHT: 180%
}
.clearSo {
	PADDING-LEFT: 15px; LINE-HEIGHT: 180%
}
.cleargray {
	COLOR: #333333; LINE-HEIGHT: 180%
}
.supersock {
	LINE-HEIGHT: 200%
}
.eng {
	FONT-WEIGHT: bold; FONT-SIZE: 10px
}
.englink {
	FONT-SIZE: 10px
}
.white {
	COLOR: #ffffff
}
.imgbw {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: #ffffff 1px solid; BORDER-BOTTOM: medium none
}
.imgbg {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid
}
.fred {
	COLOR: #ff0000
}
A.red:link {
	COLOR: #ff0000
}
A.red:visited {
	COLOR: #ff0000
}
.highlight {
	FONT-WEIGHT: bold; COLOR: #ff7800
}
A.whiteLink:link {
	FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 25px; FONT-FAMILY: "Lucida Grande", "Verdana", "Lucida", "Arial", "Helvetica", "宋体","sans-serif"; TEXT-DECORATION: none
}
A.whiteLink:visited {
	FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 25px; FONT-FAMILY: "Lucida Grande", "Verdana", "Lucida", "Arial", "Helvetica", "宋体","sans-serif"; TEXT-DECORATION: none
}
A.whiteLink:hover {
	FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 25px; FONT-FAMILY: "Lucida Grande", "Verdana", "Lucida", "Arial", "Helvetica", "宋体","sans-serif"; TEXT-DECORATION: underline
}
A.whiteLink:active {
	FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 25px; FONT-FAMILY: "Lucida Grande", "Verdana", "Lucida", "Arial", "Helvetica", "宋体","sans-serif"; TEXT-DECORATION: underline
}
.chintitle TD {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #339900
}
.chintitle {
	FONT-WEIGHT: normal; FONT-SIZE: 13px; COLOR: #339900
}
.super {
	FONT-WEIGHT: 900; FONT-SIZE: 18px; COLOR: #ff0000; FONT-FAMILY: "Tahoma"
}
A:active {
	COLOR: #0d0d15; FONT-FAMILY: "Tahoma"; TEXT-DECORATION: none
}
A:visited {
	COLOR: #0d0d15; FONT-FAMILY: "Tahoma"; TEXT-DECORATION: none
}
A:hover {
	COLOR: #0066cc; FONT-FAMILY: "Tahoma"; TEXT-DECORATION: underline
}
A:link {
	COLOR: #0d0d15; FONT-FAMILY: "Tahoma"; TEXT-DECORATION: none
}
A.blue:link {
	COLOR: #0044dd; TEXT-DECORATION: none
}
A.blue:visited {
	COLOR: #0044dd; TEXT-DECORATION: none
}
A.blue:hover {
	COLOR: #0044dd; TEXT-DECORATION: underline
}
A.blue:active {
	COLOR: #0044dd; TEXT-DECORATION: underline
}
A.slim:active {
	COLOR: #0066cc; LINE-HEIGHT: 120%; TEXT-DECORATION: underline
}
A.slim:visited {
	COLOR: #0066cc; LINE-HEIGHT: 120%; TEXT-DECORATION: underline
}
A.slim:hover {
	COLOR: #ff6600; LINE-HEIGHT: 120%; TEXT-DECORATION: underline
}
A.slim:link {
	COLOR: #0066cc; LINE-HEIGHT: 120%; TEXT-DECORATION: underline
}
A.top:visited {
	COLOR: #ffffff; FONT-FAMILY: "Tahoma"
}
A.top:link {
	COLOR: #ffffff; FONT-FAMILY: "Tahoma"
}
A.top:hover {
	COLOR: #66ffff; FONT-FAMILY: "Tahoma"; TEXT-DECORATION: none
}
A.high:visited {
	FONT-SIZE: 11px; COLOR: #ccff00; FONT-FAMILY: "Tahoma"
}
A.high:link {
	FONT-SIZE: 11px; COLOR: #ccff00; FONT-FAMILY: "Tahoma"
}
A.high:hover {
	FONT-SIZE: 11px; COLOR: #66ffff; FONT-FAMILY: "Tahoma"; TEXT-DECORATION: none
}
A.light:visited {
	COLOR: #a8aab9; TEXT-DECORATION: underline
}
A.light:link {
	COLOR: #666666; TEXT-DECORATION: underline
}
A.light:hover {
	COLOR: #0d0d15; TEXT-DECORATION: underline
}
A.move:hover {
	LEFT: 1px; POSITION: relative; TOP: 1px
}
.lee {
	PADDING-RIGHT: 0px; PADDING-LEFT: 6px; LIST-STYLE-IMAGE: url(/images/bullet.gif); PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 6px; PADDING-TOP: 0px
}
.leein {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 6px; MARGIN: 0px 0px 0px 6px; PADDING-TOP: 0px
}
.leeoa {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LIST-STYLE-IMAGE: url(/images/rght_arr_blt.gif); PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.formstyle {
	BORDER-RIGHT: #a8aab9 1px solid; BORDER-TOP: #585a67 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #585a67 1px solid; BORDER-BOTTOM: #a8aab9 1px solid; BACKGROUND-COLOR: #ffffff
}
.buttonmain {
	BORDER-RIGHT: #585a67 1px solid; BORDER-TOP: #585a67 1px solid; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(/images/bbk_main.gif); BORDER-LEFT: #585a67 1px solid; BORDER-BOTTOM: #585a67 1px solid; HEIGHT: 22px; BACKGROUND-COLOR: #ffffff
}
.buttongreen {
	BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(/images/bbk_green.gif); BORDER-LEFT: #666666 1px solid; BORDER-BOTTOM: #666666 1px solid; HEIGHT: 22px; BACKGROUND-COLOR: #ffffff
}
.buttonred {
	BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(/images/bbk_red.gif); BORDER-LEFT: #666666 1px solid; BORDER-BOTTOM: #666666 1px solid; HEIGHT: 22px; BACKGROUND-COLOR: #ffffff
}
.button {
	BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(/images/bbk.gif); BORDER-LEFT: #666666 1px solid; BORDER-BOTTOM: #666666 1px solid; HEIGHT: 20px; BACKGROUND-COLOR: #ffffff
}
.orbutton {
	BORDER-RIGHT: #ff5400 1px solid; BORDER-TOP: #ff5400 1px solid; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(/images/orbbk.gif); BORDER-LEFT: #ff5400 1px solid; CURSOR: hand; COLOR: #ffffff; BORDER-BOTTOM: #ff5400 1px solid; HEIGHT: 20px; BACKGROUND-COLOR: #ffffff
}
.buttonen {
	BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; PADDING-LEFT: 25px; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(/images/bbk_red_en.gif); BORDER-LEFT: #666666 1px solid; CURSOR: hand; BORDER-BOTTOM: #666666 1px solid; HEIGHT: 20px; BACKGROUND-COLOR: #ffffff
}
.button_black {
	BORDER-RIGHT: #585a67 1px solid; BORDER-TOP: #585a67 1px solid; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(/images/bbk_main.gif); BORDER-LEFT: #585a67 1px solid; BORDER-BOTTOM: #585a67 1px solid; HEIGHT: 22px; BACKGROUND-COLOR: #ffffff
}
.delete {
	TEXT-DECORATION: line-through
}
.icebutton {
	BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(/images/bbki.gif); BORDER-LEFT: #666666 1px solid; BORDER-BOTTOM: #666666 1px solid; HEIGHT: 18px; BACKGROUND-COLOR: #ffffff
}
.v7button {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(/images/v7button.gif); BORDER-LEFT: 0px; WIDTH: 84px; CURSOR: hand; COLOR: #ffffff; PADDING-TOP: 3px; BORDER-BOTTOM: 0px; HEIGHT: 29px; BACKGROUND-COLOR: #ffffff
}
.v7buttonGreen {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(/images/v7buttongreen.gif); BORDER-LEFT: 0px; WIDTH: 84px; CURSOR: hand; COLOR: #ffffff; PADDING-TOP: 3px; BORDER-BOTTOM: 0px; HEIGHT: 29px; BACKGROUND-COLOR: #ffffff
}
.bigfont {
	FONT-SIZE: 14px
}
.input_tc {
	BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #ffffff 1px solid; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../domain/images/domainup.gif); BORDER-LEFT: #999999 1px solid; COLOR: #000000; LINE-HEIGHT: 20px; BORDER-BOTTOM: #333333 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.brfont {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #cc0000; LINE-HEIGHT: 220%
}
.gray {
	FILTER: Gray
}
.ntop {
	PADDING-BOTTOM: 3px; MARGIN: 0px auto; WIDTH: 760px; COLOR: #0044dd; PADDING-TOP: 3px; BORDER-BOTTOM: #e3e3e3 1px solid; BACKGROUND-COLOR: #f3f3f3; TEXT-ALIGN: right
}
#ico {
	CLEAR: both; MARGIN: 5px auto; WIDTH: 100%; HEIGHT: auto; TEXT-ALIGN: left
}
#ico UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 20%; LINE-HEIGHT: 30px; PADDING-TOP: 0px; TEXT-ALIGN: right
}
.UrlTxt {
	TEXT-ALIGN: center
}
.UrlTxt UL {
	CLEAR: both; MARGIN-LEFT: 1px; TEXT-ALIGN: center
}
.UrlTxt UL LI {
	FLOAT: left; OVERFLOW: hidden; WIDTH: 20%; HEIGHT: 100px
}
.UrlTxt UL LI A {
	PADDING-LEFT: 12px; LINE-HEIGHT: 21px
}
.UrlTxt {
	CLEAR: both; FLOAT: left; WIDTH: 100%
}
#wrap {
	WIDTH: 160px; WORD-BREAK: break-all
}
#CBody {
	CLEAR: both; FLOAT: left; WIDTH: 100%
}
.UrlSort {
	CLEAR: both; BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; FLOAT: right; MARGIN-BOTTOM: 12px; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid
}
.UrlTit {
	CLEAR: both; FLOAT: left; WIDTH: 100%
}
.UrlTit {
	BORDER-BOTTOM: 1px solid
}
.UrlTit H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; FLOAT: left; PADDING-BOTTOM: 4px; WIDTH: 100px; PADDING-TOP: 4px; TEXT-ALIGN: center
}
.UrlTit H2 .desc {
	FONT-WEIGHT: normal
}
.UrlTit .back {
	PADDING-RIGHT: 10px; FLOAT: right; LINE-HEIGHT: 22px
}
LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
LI {
	LIST-STYLE-TYPE: none
}
#CS {
	FLOAT: left; WIDTH: 100%
}
#CM {
	FLOAT: right; WIDTH: 100%
}
.CS {
	CLEAR: both; FLOAT: left
}
.CS {
	WIDTH: 100%
}
.CM {
	WIDTH: 100%
}
.button_black {
	BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(images/bbk_main.gif); BORDER-LEFT: #666666 1px solid; BORDER-BOTTOM: #666666 1px solid; HEIGHT: 22px; BACKGROUND-COLOR: #ffffff
}
A.linkRed12:link {
	COLOR: #900; LINE-HEIGHT: 150%; TEXT-DECORATION: none
}
A.linkRed12:visited {
	COLOR: #900; LINE-HEIGHT: 150%; TEXT-DECORATION: none
}
A.linkRed12:hover {
	COLOR: #900; LINE-HEIGHT: 150%; TEXT-DECORATION: underline
}
A.linkMenu:link {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; COLOR: #fff; LINE-HEIGHT: 150%; TEXT-DECORATION: none
}
A.linkMenu:visited {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; COLOR: #fff; LINE-HEIGHT: 150%; TEXT-DECORATION: none
}
A.linkMenu:hover {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; COLOR: #8ac8f7; LINE-HEIGHT: 150%; TEXT-DECORATION: none
}
.btnOrange {
	BORDER-RIGHT: #666666 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #666666 1px solid; PADDING-LEFT: 12px; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(/images/bbk_red.gif); PADDING-BOTTOM: 0px; BORDER-LEFT: #666666 1px solid; CURSOR: pointer; PADDING-TOP: 0px; BORDER-BOTTOM: #666666 1px solid; HEIGHT: 22px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center
}
.btnGreen {
	BORDER-RIGHT: #666666 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #666666 1px solid; PADDING-LEFT: 12px; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(/images/bbk_green.gif); PADDING-BOTTOM: 0px; BORDER-LEFT: #666666 1px solid; CURSOR: pointer; PADDING-TOP: 0px; BORDER-BOTTOM: #666666 1px solid; HEIGHT: 22px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center
}
.btnBlack {
	BORDER-RIGHT: #666666 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #666666 1px solid; PADDING-LEFT: 12px; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(/images/bbk_main.gif); PADDING-BOTTOM: 0px; BORDER-LEFT: #666666 1px solid; CURSOR: pointer; PADDING-TOP: 0px; BORDER-BOTTOM: #666666 1px solid; HEIGHT: 22px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center
}
